@import "/site/common/css/coral-landing.less";

section.kv {
	//min-height: 300px;
	background: @coral-ramp-bg;
	color: @coral-hero-title;
	.hero-visual(@desktop-visual-url: "/site/coral.ru/assets/kv-desktop.jpg";
					@desktop-visual-height: 710px;
					@mobile-visual-url: "/site/coral.ru/assets/kv-mobile.jpg";
					@mobile-visual-height: 920px);
}