$border_Radius_Button: 40px;
$color_Base_Light: #fff;
$сolor_Btn_Bg_Default: linear-gradient(225deg, #E7317D 0%, #D8242A 100%);
$сolor_Btn_Bg_Hover: linear-gradient(225deg, #F25999 0%, #DD353B 100%);
$сolor_Btn_Bg_Pressed: linear-gradient(225deg, #B92161 0%, #C11117 100%);

$font_Size_Body: 16px;
$font_Size_Heading_1: 36px;
$font_Size_Heading_2: 32px;
$font_Size_Heading_3: 28px;
$font_Size_Heading_4: 24px;
$font_Size_Heading_5: 20px;
$font_Line_Height_Body: 24px;
$font_Line_Height_Heading_1: 44px;
$font_Line_Height_Heading_2: 40px;
$font_Line_Height_Heading_3: 36px;
$font_Line_Height_Heading_4: 32px;
$font_Line_Height_Heading_5: 28px;
