@import "/site/common/css/coral-fonts.less";
@import "/site/common/css/coral-colors.less";
@import "/site/common/css/layout.less";

section.hero {
	>article {
		font-family: museosans;
		font-weight: 300;
		h1, h2, h3, h4, h5 {
			font-weight: 700;
		}
		strong, b {
			font-weight: 700;
		}
		a {
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;
			text-decoration: underline;
		}
	}
}