@import '/project-scaffold/site/common/css/layout.less';


section.hero > article {
	max-width: @max-content-width;
	margin: auto;
	.responsive-font-size(@coral-base-font);


	> .contenu {
		> * {
			width: 100%;
		}

		> *:nth-child(n + 2) {
			margin-top: 1.2em;
		}

		display: flex;
		flex-direction: column;

		align-items: @container-align;
		padding-block: 1.875em;

		@media (max-width: 768px) {
			padding-block: 1.5em;
		}
	}

	h1, h2, h3, h4, h5 {
		margin: 0;
		color: inherit;
		font-weight: 600;
		text-align: @text-align;
	}

	h1 {
		font-size: (36/@coral-base-font * 1em);
	}

	h2 {
		font-size: (32/@coral-base-font * 1em);
	}

	h3 {
		font-size: (28/@coral-base-font * 1em);
	}

	h4 {
		font-size: (24/@coral-base-font * 1em);
	}

	h5 {
		font-size: 1em;
	}

	p {
		margin: 0;
		font-size: 1em;
		text-align: @text-align;
	}
}

section.hero > article {
	font-family: inherit;
	font-weight: 400;

	strong,
	b {
		font-weight: 600;
	}


	.actions {
		> button,
		> a {
			font-family: inherit;
			font-size: 1em;
			line-height: 1.3;
			outline: none;
			text-decoration: none;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: (13/16em) (24/16em);
			background: #0093d0;
			border-radius: 0.5em;
			border: 0;
			color: #fff;
			cursor: pointer;
			.transit(background);
			@media (hover: hover) {
				&:hover {
					background: #66d1ff;
				}
			}
		}

		> button.outline,
		> a.outline {
			background: transparent;
			border: 1px solid rgba(0, 0, 0, 0.15);
			.transit(all);
			color: #000;
			@media (hover: hover) {
				&:hover {
					border: 1px solid #66d1ff;
					color: #66d1ff;
				}
			}
		}
	}
}
