@hero-breakpoint: 1920px;
@wide-breakpoint: 1440px;
@mid-breakpoint: 1200px;
@strange-breakpoint: 1006px;
@mobile-breakpoint: 768px;
@narrow-breakpoint: 576px;
@max-content-width: 1370px;

.flex-grid(@gap: 1em, @items-per-row: 4, @justify: center) {
	display: flex;
	flex-wrap: wrap;
	gap: @gap;
	justify-content: @justify;

	> * {
		width: calc((100% - (@items-per-row - 1) * @gap) / @items-per-row);
	}
}

.reset() {
	position: static;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	transform: none;
	background: none;
}

.bbox() {
	&,
	& * {
		box-sizing: border-box;
	}
}

.interactive() {
	user-select: none;

	&:active {
		transform: translateY(2px);
	}
}

.abs100x100() {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.proportional(@width2height-ratio) {
	position: relative;

	&:before {
		content: '';
		display: block;
		padding-top: (1 / @width2height-ratio) * 100%;
	}

	& > * {
		.abs100x100;
	}
}

.transit(@what: all, @duration: 0.5s) {
	transition+: @what @duration;
}

.fluid-fontsize(@fluid, @max-breakpoint: @wide-breakpoint) {
	font-size: @fluid;

	@media screen and (min-width: @max-breakpoint) {
		font-size: unit((unit(@fluid) * unit(@max-breakpoint) / 100), px);
	}
}

.rur:not(:empty):after {
	content: ' \20BD ';
}

.rounded-corners-overflow-fix() {
	-webkit-mask-image: -webkit-radial-gradient(white, black);
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.silly-b2c-font-size(@max-font-size: 20px;
	@mobile-based-font-size: 24px;
	@mobile-base-breakpoint: 720px;
	@max-breakpoint: 1440px;
	@mid-breakpoint: 1200px;

	@mob-breakpoint: 768px) {
	font-size: @max-font-size;
	@below-max-fz: (
		@max-font-size * (@mid-breakpoint - 1px) / (@max-breakpoint - 1px)
	);

	@media screen and (max-width: (@max-breakpoint - 1px)) {
		font-size: @below-max-fz;
	}

	@media screen and (max-width: (@mid-breakpoint - 1px)) {
		font-size: unit(
			(unit(@below-max-fz) / unit(@mid-breakpoint - 1px) * 100),
			vw
		);
	}

	@media screen and (max-width: @mob-breakpoint) {
		font-size: unit(
			(unit(@mobile-based-font-size) / unit(@mobile-base-breakpoint) * 100),
			vw
		);
	}
}

.hidden-on-mobile {
	@media screen and (max-width: @mobile-breakpoint) {
		display: none;
	}
}

.hidden-on-desktop {
	@media screen and (min-width: (@mobile-breakpoint + 1)) {
		display: none;
	}
}

section {
	.bbox;

	&.hero {
		> article {
			.silly-b2c-font-size;
			max-width: 1370px;
			margin: auto;

			@media screen and (max-width: (@wide-breakpoint - 1px)) {
				max-width: 1530px;
			}

			@media screen and (max-width: (@mid-breakpoint - 1px)) {
				max-width: 100%;
			}

			> .contenu {
				display: flex;
				flex-direction: column;
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			.h1,
			.h2,
			.h3,
			.h4,
			.h5 {
				margin: 0;
				line-height: 1;
				color: inherit;
			}

			h1,
			.h1 {
				font-size: (36/20em);
				@media (max-width: 768px) {
					font-size: 2.9em;
				}
			}

			h2,
			.h2 {
				font-size: 1.6em;
				@media (max-width: 768px) {
					font-size: 2.6em;
				}
			}

			h3,
			.h3 {
				font-size: (28/20em);
				@media (max-width: 768px) {
					font-size: 2.25em;
				}
			}

			h4,
			.h4 {
				font-size: (24/20em);
				@media (max-width: 768px) {
					font-size: 1.9em;
				}
			}

			h5,
			.h5 {
				font-size: (20/20em);
				@media (max-width: 768px) {
					font-size: 1.27em;
				}
			}

			p {
				margin: 0;
				font-size: 0.8em;
				@media (max-width: 768px) {
					font-size: 1.27em;
				}
			}

			ul {
				padding: initial;

				li:before,
				li:after {
					position: initial;
					content: initial;
					display: initial;
				}
			}
		}

		.vimeo-video-box {
			pointer-events: none;

			.vimeo-player,
			[data-vimeo-vid] {
				.abs100x100();
				opacity: 0;
				.transit(opacity, 1s);

				&.playback {
					opacity: 1;
				}

				iframe {
					.abs100x100();
				}
			}
		}
	}

	> article {
		> .contenu {
			align-items: start;
			padding-top: 2em;
			padding-bottom: 2em;

			@media (max-width: 768px) {
				padding-top: 1.6em;
				padding-bottom: 1.6em;
			}

			> h1,
			> .h1,
			> h2,
			> .h2,
			> h3,
			> .h3,
			> h4,
			> .h4,
			> h5,
			> .h5,
			> p {
				text-align: left;
				max-width: 100%;
			}

			> *:nth-child(n + 2) {
				margin-top: 1.2em;
			}
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.layout-container-limit:has(section.hero.full-width) {
	max-width: 100% !important;
	padding-inline: 0 !important;
}

section.hero:not(.full-width) > article {
	max-width: 1530px;

	iframe {
		border-radius: 1em;
	}
}

section.hero.full-width > article {
	max-width: 100%;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

section.hero .vimeo-video-box {
	pointer-events: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	z-index: 3;
	overflow: hidden;
	border-radius: 1em;

	.vimeo-player {
		display: block;
	}

	.vimeo-player.mobile {
		display: none;
	}

	@media (max-width: 768px) {
		.vimeo-player.mobile {
			display: block;
		}

		.vimeo-player {
			display: none;
		}
	}
}

body:has(section.full-width) section.hero:not(.kv) > article {
	max-width: 1920px;

	.contenu {
		padding-inline: 80px;
		max-width: 1370px;
		margin-inline: auto;

		@media (max-width: 768px) {
			padding-inline: 16px;
		}
	}
}

body:has(h1) {
	h1.under-kv {
		z-index: 1;
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 12px !important;
		transform: translate(-50%, -50%);
		margin: 0;
	}
}

section.hero > article .contenu > * {
	max-width: 100%;
}

section.kv.full-width > article .contenu {
	.kv-main-banner img {
		border-radius: unset;
	}
}

body:has(section.full-width) #section-column-1 > div {
	@media (max-width: 768px) {
		padding-inline: 0;
	}
}

div:empty,
script,
link {
	br {
		display: none;
	}
}
