@import '/site/common/css/layout.less';

section.hero {
	> article {
		font-family: inherit;
		font-weight: 300;
		h1,
		h2,
		h3,
		h4,
		h5 {
			font-weight: 600;
			color: #000;
		}
		strong,
		b {
			font-weight: 600;
		}
		a {
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;
			text-decoration: underline;
		}
		.actions {
			> button,
			> a {
				user-select: none;
				background: linear-gradient(225deg, #e7317d 0%, #d8242a 100%);
				color: #fff;
				cursor: pointer;
				border: 0;
				border-radius: 2.5em;
				justify-content: center;
				align-items: center;
				padding: 0.8em 2em;
				font-family: inherit;
				font-size: 0.8em;
				font-weight: 500;
				line-height: 1.37em;
				text-decoration: none;
				transition: background 0.5s;
				display: inline-flex;
				outline: none;
				.transit(background);

				@media (max-width: 768px) {
					font-size: 1.27em;
				}

				@media (hover: hover) {
					&:hover {
						background: linear-gradient(225deg, #f25999 0%, #dd353b 100%);
					}
				}

				&:active {
					background: linear-gradient(225deg, #b92161 0%, #c11117 100%);
				}
			}
		}
	}
}
